<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="/css/detail.css">;
	<link href='/css/estilos.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/app.css">;
    <%- include ('../partials/head') %>
    
    <title><%= productos.name %></title>
</head>
<%- include ('../partials/header') %>
<img src="/img/banner_electrodomesticos.png" width="100%">

<section class="categorias">
	<nav>
	   <div>Tv, video y audio</div>
	   <div>Tecnologia y celulares</div>
	   <div>Climatización</div>
	   <div>Electrohogar</div>
	   <div>Cuidado Personal</div>
	</nav>
</section>

<body>
	<!-- product detail -->
	<div class="container-products">		
		<div class="product-detail">
					<img src="/img/products/<%= productos.image %>" alt="product image" class="product-detail-img">
				
					<article class="product-detail-info">
						<h2 class="product-detail-title"><%= productos.name %></h2>
						
								<p class="product-detail-price-small">
								<span><strike>$<%= productos.price %></strike></span>
								/
								<b class="descuento"><%= productos.discount %>% OFF</b>
								</p>
							<p class="product-detail-finalPrice">
								$<%= (productos.price * (1-(productos.discount/100))).toFixed(2)%>

							</p>
							<p class="product-detail-description">
						<%= productos.description %>
					</p>
						<ul class="actions-list">
							<li class="list">
								<i class="fas fa-credit-card"></i>
								<p>Pagá en 12 cuotas sin interes</p>
							</li>
							<li class="list">
								<i class="fas fa-store"></i>
								<p>Retiro gratis en locales del vendedor</p>
							</li>
						</ul>

						<a href="#" class="buy-now-button">COMPRAR AHORA</a>
						<hr>

						<a href="/products/edit/<%= productos.id_product %>" class="action-button edit">EDITAR PRODUCTO</a>
						<form action="/products/delete/<%= productos.id_product %>" method="POST" style="display: inline-flex">
							<button type="submit" class="action-button delete">ELIMINAR</button>

					</article>
		</div>
	</div>
	<!-- /product detail -->

	
	

</body>	
<!-- FOOTER -->
<%- include ('../partials/footer') %>
</html>