<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<body>
	<!-- Header -->
	
	<!-- /Header -->

	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Detalle del producto: <%= productos.name %></h2>
			</div>
		</div>
		<div class="product-detail">
			<div class="row">
				<div class="col-12 col-lg-8">
					<img src="/images/products/<%= productos.image %>" alt="product image" class="product-detail-img">
					<p class="product-detail-description">
						<%= productos.description %>
					</p>
				</div>
				<div class="col-12 col-lg-4">
					<article class="product-detail-info">
						<h2 class="product-detail-title"><%= productos.name %></h2>
						
							<p class="product-detail-price small">
								<span>$<%= productos.price %></span>
								/
								<b><%= productos.discount %>% OFF</b>
							</p>
							<p class="product-detail-price">
								$<%= productos.price * (1-(productos.discount/100))%>
							</p>
							<p class="product-detail-price">
								$<%= productos.price %>
							</p>

						<ul class="actions-list">
							<li>
								<i class="fas fa-credit-card"></i>
								<p>Pagá en 12 cuotas sin interes</p>
							</li>
							<li>
								<i class="fas fa-store"></i>
								<p>Retiro gratis en locales del vendedor</p>
							</li>
						</ul>

						<a href="#" class="buy-now-button">COMPRAR AHORA</a>
						<hr>

						<a href="/products/edit/<%= productos.id %>" class="action-button edit">EDITAR PRODUCTO</a>
						<form action="/products/delete/<%= productos.id %>" method="POST" style="display: inline-flex">
							<button type="submit" class="action-button delete">ELIMINAR</button>
						</form>
					</article>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<!-- footer -->
	

</body>	
</html>