<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<link href='/css/estilos.css' rel='stylesheet'>
<link rel="stylesheet" href="/css/app.css">;

<body>
	<!-- Header -->
	
	<!-- /Header -->
	
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Estás editando:<%= productos.name%></h2>
			</div>
			<div class = "errores">
				<ul></ul>
			</div>
		</div>
		<div class="col-12">
			<form action="/products/<%= productos.id_product%>" method="POST" class="editar">
				<div class="row product-detail">
					<div class="col-12 col-md-6">
						<label for="name" class="form-label">Nombre del producto:</label>
						<input type="text" id="name" name="name" placeholder="Ej: Zapatillas Reebok" class="form-input" value=<%= productos.name%>>
					</div>
					<div class="col-12 col-md-6">
						<label for="price" class="form-label">Precio del producto:</label>
						<input type="text" id="price" name="price" placeholder="Ej: 5678" class="form-input" value="<%= productos.price%>">
					</div>
					<div class="col-12 col-md-6">
						<label for="discount" class="form-label">Descuento:</label>
						<input type="text" id="discount" name="discount" placeholder="Ej: 15" class="form-input" value="<%= productos.discount%>">
					</div>
					<div class="col-12 col-md-6">
						<label for="id_category" class="form-label">Categoría:</label>
						<select name="id_category" id="id_category" class="form-input" value="<%= productos.id_category %>" >
							
							<option value="1" <%= productos.id_category == 1 ? "selected": null %>>Elegí</option>
							<option value="2" <%= productos.id_category == 2 ? "selected": null %>>TV, Audio y Video</option>
							<option value="3" <%= productos.id_category == 3 ? "selected": null %>>Tecnologia y celulares</option>
							<option value="4" <%= productos.id_category == 4 ? "selected": null %>>Climatización</option>
							<option value="5" <%= productos.id_category == 5 ? "selected": null %>>Electrohogar</option>
							<option value="6" <%= productos.id_category == 6 ? "selected": null %>>Cuidado Personal</option>
							<option value="7" <%= productos.id_category == 7 ? "selected": null %>>En oferta</option>
							<option value="8" <%= productos.id_category == 8 ? "selected": null %>>Últimos agregados</option>

						</select>
					</div>
					<div class="col-12">
						<label for="description" class="form-label">Descipción:</label>
						<textarea name="description" id="description" class="form-input"><%= productos.description %></textarea>
					</div>
					<div class="col-12">
						<button type="submit" class="buy-now-button">Guardar producto</button>
					</div>
				</div>
			</form>
		</div>

	</div>
	<script src="/jsfront/validacionEditarFront.js"></script>
	<!-- /todos los productos -->

	<!-- footer -->
	
</body>	
</html>