«<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<link rel="stylesheet" href="/css/products.css">;
<%- include('partials/head', {title: 'Todos los productos'}) %>
<body>
	<!-- Header -->
	<%- /*include('partials/headerNavbar') */%>
	<!-- /Header -->

	<!-- todos los productos -->
	        <div>
				<h2 class="products-title">Todos los productos</h2>
			</div>
			
			<% for(i = 0; i < productos.length; i++) { %> 
		
			<div class = "contenedor-de-productos">
			    <section class="producto">
					
					<a href="/products/<%= productos[i].id %>">
						<div class="product-box_image">
							<img src="/img/products/<%= productos[i].image %>" alt="imagen de producto">
						</div>
						<div class ="datos-producto">
							<div class = "nombre"><%= productos[i].name %></div>
						<article class="pd">
							<h2 class = "precio">$ <%= productos[i].price %></h2>
							<span class = "descuento"><%= productos[i].discount %>% OFF</span>
							<i class="fas fa-truck"></i>
						</article>
						
					</div>
					</a>
				</section>
			</div>
		 <% } %>
	<!-- /todos los productos -->

	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>	
</html>