<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/footer-head-header.css">
    <link rel="stylesheet" href="/css/registrate.css">
    <%- include ('../partials/head') %>

    <title>Registrate</title>
</head>
    <%- include ('../partials/header') %>
<img src="/img/banner_electrodomesticos.png" width="100%">
<body>
    <h3 class="titulo-registro">¡Ingrese sus datos para registrarse y comenzar a comprar!</h3>
        <div class="cont-formulario">
            
            <form class="form" action= "/users" method="post" enctype="multipart/form-data">
                <div><label for= email></label></div>
                <div><input class="barra" type= "email" id=email name="email" placeholder="Email"  
                    value= "<%= locals.oldData ? oldData.email : null %>" ></div><br>
                <% if (locals.errors && errors.email) { %>
                    <div>
                        <%= errors.email.msg %>
                    </div>
                <% } %>
    
                <div><label for= full_name></label></div>
                <div><input class="barra" type= "text" id=full_name name="full_name" placeholder="Nombre completo"
                    value= "<%= locals.oldData ? oldData.full_name : null %>" ></div><br>
                <% if (locals.errors && errors.full_name) { %>
                    <div>
                        <%= errors.full_name.msg %>
                    </div>
                <% } %>
                <div><label for= user></label></div>
                <div><input class="barra" type= "text" id=user name="user" placeholder="Usuario"
                    value= "<%= locals.oldData ? oldData.user : null %>" ></div><br>
                <% if (locals.errors && errors.user) { %>
                    <div>
                        <%= errors.user.msg %>
                    </div>
                <% } %>
                <div><label>Fecha de nacimiento:</label></div>
                <div><input class="barra" type= "date" id=date_of_birth name="date_of_birth" ></div><br>
            
                <div><label for= domicilio></label></div>
                <div><input class="barra" type= "text" id=address name="address" placeholder="Domicilio"></div><br>
                
                <div><label>Categoria favorita</label></div><br>
                <select name="fav_category_id">
                    <option value="">Elegi tu favorita</option>
                <%    
                    let categorias = ['TV, Audio y Video', 'Tecnologia y celulares', 'Climatización', 'Electrohogar', 'Cuidado Personal']
                %>
                <% for (const oneCategoria of categorias) { %>
                    <option 
                        value="<%=oneCategoria %>"
                        <%= locals.oldData && (oneCategoria === oldData.fav_category_id) ? 'selected' :null %>
                    > <%= oneCategoria %>  </option>
                   
                <% } %>
                </select>
                
                <br>
                <div><label for="userImage">Imagen de Perfil</label></div>
                <div><input type="file" name="avatar_id"></div>
                <% if (locals.errors && errors.avatar_id) { %>
                    <div>
                        <%= errors.avatar_id.msg %>
                    </div>
                <% } %>
                <br>
                        
                <div><label for= contraseña></label></div>
                <div><input class="barra" type= "password" id=password name="password" placeholder="contraseña"></div><br>
            
                <div><label for= ConfirmarContraseña></label></div>
                <div><input class="barra" type= "password" id=confirm_password name="confirm_password" placeholder="Confirmar contraseña"></div><br>
            
                <div>
                    <button class="botones" type="reset">Borrar Todo</button>
                    <button class="botones" type="submit">Enviar</button>
                </div>
            </form>
        </div>
</body>
</html>
<%- include ('../partials/footer') %>       


<!-- <div class="contenedor-chek">
    <div class="chek">
        <input type="checkbox" name="categoriasDeInteres" value="TV, Audio y Video"><label>TV, Audio y Video</label><br>
        <input type="checkbox" name="categoriasDeInteres" value="Tecnologia y celulares"><label>Tecnologia y celulares</label><br>
        <input type="checkbox" name="categoriasDeInteres" value="Climatización"><label>Climatización</label><br>
        <input type="checkbox" name="categoriasDeInteres" value="Electrohogar"><label>Electrohogar</label><br>
        <input type="checkbox" name="categoriasDeInteres" value="Cuidado Personal"><label>Cuidado Personal</label><br>
    </div>
</div><br> -->